* {
    font-family: Copperplate, Papyrus, fantasy;
}

.headline {
    color: rgb(136, 131, 131);
}

.ingredients li{
    font-family: Arial, sans-serif;
}

.images {
    width: 500px;
    height: auto;
}

li{
    font-size: 24px;
}

ol li {
    color: #318031;
}